@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <h2 class="fw-bold mb-2">Confirm Email</h2>
                            <p class="text-white-50 mb-5">Please choose an email</p>
                            <p id="external-login-description" class="text-info">
                                You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                                Please enter an email address for this site below and click the Register button to finish
                                logging in.
                            </p>

                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-floating">
                                            <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                                            <label asp-for="Input.Email" class="form-label"></label>
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
